body{
    background-image: url(../image/tacheAccueil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#id01 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: linear-gradient(#121c2e, #203750);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    z-index: 100;
  }
  
h1 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
  


.infoUser {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

a{
    text-decoration: none;
}



.cancelbtn{
    width: 100px;
    height: 35px;
    background-color: #121c2e;
    color: white;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
}

.signupbtn{
    width: 100px;
    height: 35px;
    background-color: #121c2e;
    color: white;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
}

#id02 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: linear-gradient(#121c2e, #203750);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    height: 500px;
    z-index: 100;
  }





#infoUser2 {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

#buttonLogin{
    margin-bottom: 20px;
    margin-left: 40px;
    height: 35px;
    background-color: #121c2e;
    color: white;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 30px;
}

.psw{
    color: #fff;
    margin-left: 10px;
}

#butInscription{
    position: absolute;
    top: 50%;
    left: 45%;
    width: 400px;
    padding: 10px;
    transform: translate(-50%, -50%);
    background: linear-gradient(#121c2e, #203750);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }

#butConnexion{
    position: absolute;
    top: 50%;
    left: 53%;
    width: 400px;
    padding: 10px;
    transform: translate(-50%, -50%);
    background: linear-gradient(#121c2e, #203750);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 3s;
}


#loginError{
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }

#loginErrorHolder{
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

